In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data.csv")
data.head()

   Unnamed: 0             username  twitter_handle
0           0   Jeffrey Gettleman      @gettleman)
1           1      Africa24 Media       @a24media)
2           2           Scapegoat   @andiMakinana)
3           3        Africa Check    @AfricaCheck)
4           4       James Copnall   @JamesCopnall)

In [3]:
data.tail()

    Unnamed: 0               username     twitter_handle
95          95   Julius Sello Malema   @Julius_S_Malema)
96          96                News24            @News24)
97          97                Jacob G      @SAPresident)
98          98          Gareth Cliff       @GarethCliff)
99          99           Trevor Noah        @Trevornoah)

In [5]:
data=data[['username','twitter_handle']]
data.head()

              username  twitter_handle
0   Jeffrey Gettleman      @gettleman)
1      Africa24 Media       @a24media)
2           Scapegoat   @andiMakinana)
3        Africa Check    @AfricaCheck)
4       James Copnall   @JamesCopnall)